* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 10px;
}

body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #E5E5E5;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

header .header, header .header .nav, .back-to div a, .about-me, .skills, .contact-me, .footer, .about-me__passions, .circle-bars-container, .contact-me .contact-form, .footer .social-media-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#theSite {
  display: none;
}

#loader {
  width: 100vw;
  height: 100vh;
  opacity: 1;
  background: #2b1055;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.content {
  width: 300px;
  height: 300px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}

.content .planet {
  width: 65%;
  height: 65%;
  background-color: #546c8c;
  border-radius: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-box-shadow: inset 2px -10px 0px rgba(0, 0, 0, 0.1);
          box-shadow: inset 2px -10px 0px rgba(0, 0, 0, 0.1);
  -webkit-animation: planet 5s ease infinite alternate;
          animation: planet 5s ease infinite alternate;
  /* planet ring */
  /* to cover the back of the ring */
  /* planet spots */
}

@-webkit-keyframes planet {
  0% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}

@keyframes planet {
  0% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}

.content .planet .ring {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  background-color: #bacbd9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform-origin: 33% center;
          transform-origin: 33% center;
  -webkit-box-shadow: 2px -10px 0px rgba(0, 0, 0, 0.1), inset -5px -10px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 2px -10px 0px rgba(0, 0, 0, 0.1), inset -5px -10px 0px rgba(0, 0, 0, 0.1);
  -webkit-animation: ring 3s ease infinite;
          animation: ring 3s ease infinite;
  /* small ball */
  /* inner ring */
}

@-webkit-keyframes ring {
  0% {
    -webkit-transform: rotateX(110deg) rotateZ(0deg) translate(-50px, 5px);
            transform: rotateX(110deg) rotateZ(0deg) translate(-50px, 5px);
  }
  100% {
    -webkit-transform: rotateX(110deg) rotateZ(360deg) translate(-50px, 5px);
            transform: rotateX(110deg) rotateZ(360deg) translate(-50px, 5px);
  }
}

@keyframes ring {
  0% {
    -webkit-transform: rotateX(110deg) rotateZ(0deg) translate(-50px, 5px);
            transform: rotateX(110deg) rotateZ(0deg) translate(-50px, 5px);
  }
  100% {
    -webkit-transform: rotateX(110deg) rotateZ(360deg) translate(-50px, 5px);
            transform: rotateX(110deg) rotateZ(360deg) translate(-50px, 5px);
  }
}

.content .planet .ring:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 30px;
  border-radius: 100%;
  background-color: #7ea1bf;
  z-index: 2;
  left: calc(0px - 5px);
  -webkit-box-shadow: inset -3px 3px 0px rgba(0, 0, 0, 0.2);
          box-shadow: inset -3px 3px 0px rgba(0, 0, 0, 0.2);
}

.content .planet .ring:after {
  content: "";
  position: absolute;
  width: 240px;
  height: 240px;
  border-radius: 100%;
  background-color: #7ea1bf;
  -webkit-box-shadow: inset 2px -10px 0px rgba(0, 0, 0, 0.1);
          box-shadow: inset 2px -10px 0px rgba(0, 0, 0, 0.1);
}

.content .planet .cover-ring {
  position: absolute;
  width: 100%;
  height: 50%;
  border-bottom-left-radius: 80%;
  border-bottom-right-radius: 80%;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  -webkit-transform: translate(0px, -17px);
          transform: translate(0px, -17px);
  background-color: #546c8c;
  z-index: 2;
  -webkit-box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.1);
}

.content .planet .spots {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  z-index: 2;
}

.content .planet .spots span {
  width: 30px;
  height: 30px;
  background-color: #3c4359;
  position: absolute;
  border-radius: 100%;
  -webkit-box-shadow: inset -2px 3px 0px rgba(0, 0, 0, 0.3);
          box-shadow: inset -2px 3px 0px rgba(0, 0, 0, 0.3);
  -webkit-animation: dots 5s ease infinite alternate;
          animation: dots 5s ease infinite alternate;
}

@-webkit-keyframes dots {
  0% {
    -webkit-box-shadow: inset -3px 3px 0px rgba(0, 0, 0, 0.3);
            box-shadow: inset -3px 3px 0px rgba(0, 0, 0, 0.3);
  }
  100% {
    -webkit-box-shadow: inset 3px 3px 0px rgba(0, 0, 0, 0.3);
            box-shadow: inset 3px 3px 0px rgba(0, 0, 0, 0.3);
  }
}

@keyframes dots {
  0% {
    -webkit-box-shadow: inset -3px 3px 0px rgba(0, 0, 0, 0.3);
            box-shadow: inset -3px 3px 0px rgba(0, 0, 0, 0.3);
  }
  100% {
    -webkit-box-shadow: inset 3px 3px 0px rgba(0, 0, 0, 0.3);
            box-shadow: inset 3px 3px 0px rgba(0, 0, 0, 0.3);
  }
}

.content .planet .spots span:nth-child(1) {
  top: 20px;
  right: 50px;
}

.content .planet .spots span:nth-child(2) {
  top: 40px;
  left: 50px;
  width: 15px;
  height: 15px;
}

.content .planet .spots span:nth-child(3) {
  top: 80px;
  left: 20px;
  width: 25px;
  height: 25px;
}

.content .planet .spots span:nth-child(4) {
  top: 80px;
  left: 90px;
  width: 40px;
  height: 40px;
}

.content .planet .spots span:nth-child(5) {
  top: 160px;
  left: 70px;
  width: 15px;
  height: 15px;
}

.content .planet .spots span:nth-child(6) {
  top: 165px;
  left: 125px;
  width: 10px;
  height: 10px;
}

.content .planet .spots span:nth-child(7) {
  top: 90px;
  left: 150px;
  width: 15px;
  height: 15px;
}

.content p {
  color: #bacbd9;
  font-size: 14px;
  z-index: 2;
  position: absolute;
  bottom: -20px;
  font-family: "Montserrat", sans-serif;
  -webkit-animation: text 4s ease infinite;
          animation: text 4s ease infinite;
  width: 100px;
  text-align: center;
}

@-webkit-keyframes text {
  0% {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
    letter-spacing: 0px;
    color: #bacbd9;
  }
  25% {
    letter-spacing: 3px;
    color: #7ea1bf;
  }
  50% {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
    letter-spacing: 0px;
    color: #bacbd9;
  }
  75% {
    letter-spacing: 3px;
    color: #7ea1bf;
  }
  100% {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
    letter-spacing: 0px;
    color: #bacbd9;
  }
}

@keyframes text {
  0% {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
    letter-spacing: 0px;
    color: #bacbd9;
  }
  25% {
    letter-spacing: 3px;
    color: #7ea1bf;
  }
  50% {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
    letter-spacing: 0px;
    color: #bacbd9;
  }
  75% {
    letter-spacing: 3px;
    color: #7ea1bf;
  }
  100% {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
    letter-spacing: 0px;
    color: #bacbd9;
  }
}

header {
  background: -webkit-gradient(linear, left top, left bottom, from(#2b1055), to(#7597de));
  background: linear-gradient(#2b1055, #7597de);
  min-height: 100vh;
}

header .header {
  position: absolute;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 3rem 10rem;
  background: transparent;
  z-index: 1000;
}

header .header img {
  width: 55px;
  height: 65px;
}

header .header .nav {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Montserrat", sans-serif;
}

header .header .nav li {
  margin-left: 2rem;
}

header .header .nav a {
  padding: 1rem 1.5rem;
  color: #E5E5E5;
  font-size: 1.3rem;
  font-weight: 700;
  border-radius: 20px;
}

header .header .nav a:hover, header .header .nav a.active {
  background: #ffffff;
  color: #2b1055;
}

header section {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
}

header section img#moon {
  mix-blend-mode: screen;
}

header section img#backMountain {
  z-index: 1;
}

header section img#midMountain {
  z-index: 6;
}

header section img#frontMountain {
  z-index: 8;
}

header section #AbdurasulDjurayev {
  position: absolute;
  z-index: 5;
  color: #ffffff;
  white-space: nowrap;
  font-size: 7.5rem;
  text-shadow: 2px 2px 10px #2b1055, -2px -2px 10px #2b1055;
}

header section #explore {
  text-decoration: none;
  display: inline-block;
  padding: 0.8rem 3rem;
  border-radius: 40px;
  background: #ffffff;
  color: #2b1055;
  font-size: 1.5rem;
  font-weight: 500;
  z-index: 7;
  -webkit-transform: translateY(10rem);
          transform: translateY(10rem);
  -webkit-box-shadow: 2px 2px 10px #2b1055, -2px -2px 10px #ffffff;
          box-shadow: 2px 2px 10px #2b1055, -2px -2px 10px #ffffff;
}

header::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10rem;
  background: -webkit-gradient(linear, left bottom, left top, from(#161240), to(transparent));
  background: linear-gradient(to top, #161240, transparent);
  z-index: 99;
}

.back-to {
  position: fixed;
  z-index: 100;
  right: 0;
  bottom: 0;
}

.back-to div {
  margin: 3rem;
  padding: 2rem 4rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.back-to div a {
  width: 100%;
  height: auto;
  font-size: 3rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: rocketLaunched 0.5s  linear infinite;
          animation: rocketLaunched 0.5s  linear infinite;
}

.back-to div a #fire {
  color: #ff7b00;
  margin-left: 0.2rem;
  -webkit-animation: fire 3s  linear infinite;
          animation: fire 3s  linear infinite;
}

.back-to div a #rocket {
  -webkit-text-stroke: 1px white;
  color: #2b1055;
}

.back-to div a .to-bottom {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.back-to div a .to-top {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

@-webkit-keyframes rocketLaunched {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  20% {
    -webkit-transform: translate(-2px, 0);
            transform: translate(-2px, 0);
  }
  40% {
    -webkit-transform: translate(0, -1px);
            transform: translate(0, -1px);
  }
  60% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  80% {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
  }
  100% {
    -webkit-transform: translate(0, 1px);
            transform: translate(0, 1px);
  }
}

@keyframes rocketLaunched {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  20% {
    -webkit-transform: translate(-2px, 0);
            transform: translate(-2px, 0);
  }
  40% {
    -webkit-transform: translate(0, -1px);
            transform: translate(0, -1px);
  }
  60% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  80% {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
  }
  100% {
    -webkit-transform: translate(0, 1px);
            transform: translate(0, 1px);
  }
}

@-webkit-keyframes fire {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    font-size: 3rem;
    color: #ff7b00;
  }
  25% {
    -webkit-transform: scaleY(1.25);
            transform: scaleY(1.25);
    font-size: 2.5rem;
    color: #ff6600;
  }
  50% {
    -webkit-transform: scaleY(1.5);
            transform: scaleY(1.5);
    font-size: 3rem;
    color: #ff5100;
  }
  75% {
    -webkit-transform: scaleY(1.25);
            transform: scaleY(1.25);
    font-size: 2.5rem;
    color: #ff6600;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    font-size: 3rem;
    color: #ff7b00;
  }
}

@keyframes fire {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    font-size: 3rem;
    color: #ff7b00;
  }
  25% {
    -webkit-transform: scaleY(1.25);
            transform: scaleY(1.25);
    font-size: 2.5rem;
    color: #ff6600;
  }
  50% {
    -webkit-transform: scaleY(1.5);
            transform: scaleY(1.5);
    font-size: 3rem;
    color: #ff5100;
  }
  75% {
    -webkit-transform: scaleY(1.25);
            transform: scaleY(1.25);
    font-size: 2.5rem;
    color: #ff6600;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    font-size: 3rem;
    color: #ff7b00;
  }
}

.about-me, .skills, .contact-me, .footer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  background: #161240;
  padding: 10rem 20rem 0 20rem;
  text-align: center;
  color: #E5E5E5;
}

.about-me__text, .about-me__text2 {
  margin-bottom: 8rem;
}

.about-me__text2 {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  border-left: 3px solid #E5E5E5;
  border-right: 3px solid #E5E5E5;
  padding: 1rem 3rem;
}

.about-me .seperator {
  margin-top: 2rem;
  margin-bottom: 8rem;
}

.about-me__passions {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 7rem;
}

.about-me__passion {
  width: 40%;
  margin: 4rem;
}

.about-me__passion h4, .about-me__passion p {
  text-align: left;
  z-index: 2;
}

.about-me__passion h4 {
  position: relative;
  margin-bottom: 3rem;
}

.about-me__passion .about-me__responsive:before {
  position: absolute;
  top: -2.5rem;
  left: -9%;
  content: url("../img/about-me/1.png");
  opacity: .5;
  width: 5rem;
  height: 5rem;
  z-index: -1;
}

.about-me__passion .about-me__animated:before {
  position: absolute;
  top: -2.5rem;
  left: -9%;
  content: url("../img/about-me/2.png");
  opacity: .5;
  width: 5rem;
  height: 5rem;
  z-index: -1;
}

.about-me__passion .about-me__moderan:before {
  position: absolute;
  top: -2.5rem;
  left: -9%;
  content: url("../img/about-me/3.png");
  opacity: .5;
  width: 5rem;
  height: 5rem;
  z-index: -1;
}

.skills {
  padding: 0rem 20rem 0 20rem;
}

.sections-header {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: .5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  border: 5px solid #E5E5E5;
  padding: 2rem;
  width: 25rem;
  margin-bottom: 5rem;
}

.circle-bars-container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.circle-bars-container .circle-bar-container {
  height: 25rem;
  width: 25rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.circle-bars-container .circle-bar-container .circle-bar__progress {
  position: relative;
  height: 20rem;
  width: 20rem;
  background-color: #E5E5E5;
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-box-shadow: 0 0 20px #719ECE;
          box-shadow: 0 0 20px #719ECE;
}

.circle-bars-container .circle-bar-container .circle-bar__progress::before {
  content: '';
  position: absolute;
  height: 84%;
  width: 84%;
  background-color: #161240;
  border-radius: 50%;
}

.circle-bars-container .circle-bar-container .circle-bar__persentage {
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-size: 4rem;
  color: #E5E5E5;
}

.contact-me .contact-form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 5rem;
  gap: 3rem;
  width: 50vw;
  height: auto;
  font-family: "Montserrat", sans-serif;
}

.contact-me .contact-form__items {
  width: 100%;
  color: #E5E5E5;
  background: #161240;
  outline: none !important;
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid #00f96c;
  border-left: 1px solid #00f96c;
  padding-left: 2rem;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  border-radius: 0 1rem  0 0;
}

.contact-me .contact-form__items:focus {
  outline: none !important;
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid #2361c1;
  border-left: 1px solid #2361c1;
  border-radius: 1rem;
  -webkit-transform: translate(0.5rem, -0.5rem);
          transform: translate(0.5rem, -0.5rem);
  -webkit-box-shadow: -3px 3px 10px #719ECE50;
          box-shadow: -3px 3px 10px #719ECE50;
}

.contact-me .contact-form #form-text {
  padding-top: 1rem;
}

.contact-me .contact-form #form-name, .contact-me .contact-form #form-email {
  height: 4rem;
}

.contact-me .contact-form #form-submit-btn {
  position: relative;
  padding: 1.5rem 5rem;
  margin-bottom: 1rem;
  cursor: pointer;
  border: 1px solid #00f96c;
  border-radius: 3rem;
  background: #00f96c;
  -webkit-transition: 1s;
  transition: 1s;
  overflow: hidden;
  color: #161240;
  transition: 1s;
}

.contact-me .contact-form #form-submit-btn:hover {
  border: 1px solid #00f96c;
  color: #00f96c;
  -webkit-box-shadow: 0 0 10px #719ECE;
          box-shadow: 0 0 10px #719ECE;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.contact-me .contact-form #form-submit-btn span {
  position: relative;
  z-index: 10;
  font-weight: 700;
}

.contact-me .contact-form #form-submit-btn::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 0%;
  left: 0;
  bottom: 0;
  margin-left: 13rem;
  background: #161240;
  -webkit-transition: 1.2s;
  transition: 1.2s;
  border-radius: 30rem 30rem 0 0;
}

.contact-me .contact-form #form-submit-btn:hover::before {
  height: 200%;
  -webkit-transform: translateX(-8rem);
          transform: translateX(-8rem);
}

.contact-me .contact-form #form-submit-btn::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0%;
  right: 0;
  top: 0;
  margin-right: 13rem;
  background: #161240;
  -webkit-transition: 1.2s;
  transition: 1.2s;
  border-radius: 0 0 30rem 30rem;
}

.contact-me .contact-form #form-submit-btn:hover::after {
  height: 200%;
  -webkit-transform: translateX(8rem);
          transform: translateX(8rem);
}

.footer {
  bottom: 0;
  overflow-y: hidden;
  width: 100%;
}

.footer .social-media-container {
  gap: 2rem;
  margin-bottom: 1.3rem;
}

.footer .social-media-container .tooltip {
  position: relative;
  display: inline-block;
  padding: 1.5rem;
  border: 2px solid #00f96c;
  width: 6rem;
  border-radius: 25%;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

.footer .social-media-container .tooltip .fab {
  color: #ffffff;
  font-size: 2.25rem;
}

.footer .social-media-container .tooltip:hover {
  -webkit-transform: translate(0, -1rem);
          transform: translate(0, -1rem);
  border: 2px solid #2361c1;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 5px #719ECE;
          box-shadow: 0 2px 5px #719ECE;
}

.footer .social-media-container #telegram:hover {
  background: #279dec;
}

.footer .social-media-container #telegram:hover .fab {
  -webkit-transform: skewX(1deg);
          transform: skewX(1deg);
  color: #ffffff;
}

.footer .social-media-container #instagram:hover {
  background: #f5a329;
}

.footer .social-media-container #instagram:hover .fab {
  -webkit-transform: skewX(1deg);
          transform: skewX(1deg);
  color: #ffffff;
}

.footer .social-media-container #linkedin:hover {
  background: #1565af;
}

.footer .social-media-container #linkedin:hover .fab {
  -webkit-transform: skewX(1deg);
          transform: skewX(1deg);
  color: #ffffff;
}

.footer .social-media-container #github:hover {
  background: #ffffff;
}

.footer .social-media-container #github:hover .fab {
  -webkit-transform: skewX(1deg);
          transform: skewX(1deg);
  color: #000000;
}

.footer .social-media-container #discord:hover {
  background: #6e28e8;
}

.footer .social-media-container #discord:hover .fab {
  -webkit-transform: skewX(1deg);
          transform: skewX(1deg);
  color: #ffffff;
}

.footer .social-media-container .tooltip .tooltiptext {
  visibility: hidden;
  width: 100px;
  margin-top: 2rem;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity .7s .5s;
  transition: opacity .7s .5s;
}

.footer .social-media-container #telegram .tooltiptext {
  top: -5px;
  right: 120%;
}

.footer .social-media-container #instagram .tooltiptext,
.footer .social-media-container #linkedin .tooltiptext,
.footer .social-media-container #github .tooltiptext {
  bottom: 125%;
  left: 67%;
  margin-left: -60px;
}

.footer .social-media-container #discord .tooltiptext {
  top: -5px;
  left: 120%;
}

.footer .social-media-container .tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  border-width: 5px;
  border-style: solid;
}

.footer .social-media-container #telegram .tooltiptext::after {
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-color: transparent transparent transparent black;
}

.footer .social-media-container #instagram .tooltiptext::after,
.footer .social-media-container #linkedin .tooltiptext::after,
.footer .social-media-container #github .tooltiptext::after {
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-color: black transparent transparent transparent;
}

.footer .social-media-container #discord .tooltiptext::after {
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-color: transparent black transparent transparent;
}

.footer .social-media-container .tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.footer p {
  margin-bottom: 2.5rem;
}

.footer p i, .footer p span {
  color: gold;
  font-size: 2.2rem;
}

.footer p i {
  -webkit-text-stroke: 1px #ffffff;
  background: -webkit-gradient(linear, left top, right top, from(#ff0000), color-stop(#ffff00), color-stop(#ff00f3), color-stop(#0033ff), color-stop(#ff00c4), to(#ff0000));
  background: linear-gradient(90deg, #ff0000, #ffff00, #ff00f3, #0033ff, #ff00c4, #ff0000);
  -webkit-text-fill-color: transparent;
  background-size: 400%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-animation: heartBeating 5s 1.2s linear infinite;
          animation: heartBeating 5s 1.2s linear infinite;
}

.footer p span {
  background: -webkit-gradient(linear, left top, right top, from(#ff0000), color-stop(#ffff00), color-stop(#ff00f3), color-stop(#0033ff), color-stop(#ff00c4), to(#ff0000));
  background: linear-gradient(90deg, #ff0000, #ffff00, #ff00f3, #0033ff, #ff00c4, #ff0000);
  -webkit-text-fill-color: transparent;
  background-size: 400%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-animation: rainbow 5s linear infinite;
          animation: rainbow 5s linear infinite;
}

@-webkit-keyframes heartBeating {
  0% {
    background-position: 400%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    margin: 0 0;
  }
  25% {
    background-position: 300%;
    -webkit-transform: scale(1.3, 1.3);
            transform: scale(1.3, 1.3);
    margin: 0 .5rem;
  }
  50% {
    background-position: 200%;
    -webkit-transform: scale(1.6, 1.6);
            transform: scale(1.6, 1.6);
    margin: 0 1rem;
  }
  75% {
    background-position: 100%;
    -webkit-transform: scale(1.3, 1.3);
            transform: scale(1.3, 1.3);
    margin: 0 .5rem;
  }
  100% {
    background-position: 0%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    margin: 0 0;
  }
}

@keyframes heartBeating {
  0% {
    background-position: 400%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    margin: 0 0;
  }
  25% {
    background-position: 300%;
    -webkit-transform: scale(1.3, 1.3);
            transform: scale(1.3, 1.3);
    margin: 0 .5rem;
  }
  50% {
    background-position: 200%;
    -webkit-transform: scale(1.6, 1.6);
            transform: scale(1.6, 1.6);
    margin: 0 1rem;
  }
  75% {
    background-position: 100%;
    -webkit-transform: scale(1.3, 1.3);
            transform: scale(1.3, 1.3);
    margin: 0 .5rem;
  }
  100% {
    background-position: 0%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    margin: 0 0;
  }
}

@-webkit-keyframes rainbow {
  0% {
    background-position: 400%;
  }
  100% {
    background-position: 0%;
  }
}

@keyframes rainbow {
  0% {
    background-position: 400%;
  }
  100% {
    background-position: 0%;
  }
}
/*# sourceMappingURL=style.css.map */