@import 'variables'; 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 10px;
}

body {
    font-size: 16px;
    font-family: $fontFamily1;
    color: $white;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

%flex-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#theSite {
    display: none;
    // opacity: 1;
    // transition: all 3s;
}

// Loader
#loader{
    width: 100vw;
    height: 100vh;
    opacity: 1;
    background: $gradient1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 2s;
}

.content {
    width: 300px;
    height: 300px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
 
    .planet {
       width: 65%;
       height: 65%;
       background-color: $m-02;
       border-radius: 100%;
       position: absolute;
       display: flex;
       align-items: center;
       transform-origin: center center;
       box-shadow: inset 2px -10px 0px rgba(0, 0, 0, 0.1);
       animation: planet 5s ease infinite alternate;
 
       @keyframes planet {
          0% {
             transform: rotate(10deg);
          }
 
          100% {
             transform: rotate(-10deg);
          }
       }
 
       /* planet ring */
       .ring {
          position: absolute;
          width: 300px;
          height: 300px;
          border-radius: 100%;
          background-color: $m-04;
          display: flex;
          align-items: center;
          justify-content: center;
          transform-origin: 33% center;
          box-shadow: 2px -10px 0px rgba(0, 0, 0, 0.1),
             inset -5px -10px 0px rgba(0, 0, 0, 0.1);
          animation: ring 3s ease infinite;
 
          @keyframes ring {
             0% {
                transform: rotateX(110deg) rotateZ(0deg) translate(-50px, 5px);
             }
 
             100% {
                transform: rotateX(110deg) rotateZ(360deg) translate(-50px, 5px);
             }
          }
 
          /* small ball */
          &:before {
             content: "";
             position: absolute;
             width: 10px;
             height: 30px;
             border-radius: 100%;
             background-color: $m-03;
             z-index: 2;
             left: calc(0px - 5px);
             box-shadow: inset -3px 3px 0px rgba(0, 0, 0, 0.2);
          }
 
          /* inner ring */
          &:after {
             content: "";
             position: absolute;
             width: 240px;
             height: 240px;
             border-radius: 100%;
             background-color: $m-03;
             box-shadow: inset 2px -10px 0px rgba(0, 0, 0, 0.1);
          }
       }
 
       /* to cover the back of the ring */
       .cover-ring {
          position: absolute;
          width: 100%;
          height: 50%;
          border-bottom-left-radius: 80%;
          border-bottom-right-radius: 80%;
          border-top-left-radius: 100px;
          border-top-right-radius: 100px;
          transform: translate(0px, -17px);
          background-color: $m-02;
          z-index: 2;
          box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.1);
       }
 
       /* planet spots */
       .spots {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          z-index: 2;
 
          span {
             width: 30px;
             height: 30px;
             background-color: $m-01;
             position: absolute;
             border-radius: 100%;
             box-shadow: inset -2px 3px 0px rgba(0, 0, 0, 0.3);
             animation: dots 5s ease infinite alternate;
 
             @keyframes dots {
                0% {
                   box-shadow: inset -3px 3px 0px rgba(0, 0, 0, 0.3);
                }
                100% {
                   box-shadow: inset 3px 3px 0px rgba(0, 0, 0, 0.3);
                }
             }
 
             &:nth-child(1) {
                top: 20px;
                right: 50px;
             }
 
             &:nth-child(2) {
                top: 40px;
                left: 50px;
                width: 15px;
                height: 15px;
             }
 
             &:nth-child(3) {
                top: 80px;
                left: 20px;
                width: 25px;
                height: 25px;
             }
 
             &:nth-child(4) {
                top: 80px;
                left: 90px;
                width: 40px;
                height: 40px;
             }
 
             &:nth-child(5) {
                top: 160px;
                left: 70px;
                width: 15px;
                height: 15px;
             }
 
             &:nth-child(6) {
                top: 165px;
                left: 125px;
                width: 10px;
                height: 10px;
             }
 
             &:nth-child(7) {
                top: 90px;
                left: 150px;
                width: 15px;
                height: 15px;
             }
          }
       }
    }
 
    p {
       color: $m-04;
       font-size: 14px;
       z-index: 2;
       position: absolute;
       bottom: -20px;
       font-family: $fontFamily2;
       animation: text 4s ease infinite;
       width: 100px;
       text-align: center;
 
       @keyframes text {
          0% {
             transform: translateX(-30px);
             letter-spacing: 0px;
             color: $m-04;
          }
 
          25% {
             letter-spacing: 3px;
             color: $m-03;
          }
 
          50% {
             transform: translateX(30px);
             letter-spacing: 0px;
             color: $m-04;
          }
 
          75% {
             letter-spacing: 3px;
             color: $m-03;
          }
 
          100% {
             transform: translateX(-30px);
             letter-spacing: 0px;
             color: $m-04;
          }
       }
    }
 }

 .menu {
    content: '';
    width: 100%;
    height: 0;
    position: fixed;
    top:0;
    left: 0;
    z-index: 100;
    background: $background90;
    transition: height 2s;
}

header {
    background: linear-gradient($gradient1, $gradient2);
    min-height: 90vh;
    height: 100%;
    max-height: 100vh;
    overflow: hidden;

    .position-fixed {
        position: fixed !important;
    }

    .header {
        position: absolute;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        padding: 3rem 10rem ;
        background: transparent;
        @extend %flex-space-between;
        z-index: 1000;
        img {
            width: 55px;
            height: 65px;
        }

        #logo {
            position: relative;
            z-index: 3;
        }

        .nav {
            width: 100%;
            @extend %flex-space-between;
            justify-content: flex-end;
            align-self: center;
            font-family: $fontFamily2;
            position: relative;
            z-index: 3;
            
            li {
                margin-left: 1rem;
            }

            .margin-top {
                margin-top: 3.2rem;
            }

            #nav-icon {
                display: none;
                transition: transform 2s;
            }

            #nav-icon:active {
                color: $background;
            }

            .link-icon {
                display: none;
            }

            a {
                padding: 1rem 1.5rem;
                color: $white;
                font-size: 1.3rem;
                font-weight: 700;
                border-radius: 20px;
            }
        
            a:hover, a.active {
                background: $pureWhite;
                color: $gradient1;
            }
        }     
    }

    section {
        overflow: hidden ;
        position: relative;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            pointer-events: none;

            &#moon {
                mix-blend-mode: screen;
            }
            &#backMountain {
                z-index: 1;
            }

            &#midMountain {
                z-index: 6;
            }

            &#frontMountain {
                z-index: 8;
            }
        }

        #AbdurasulDjurayev {
            position: absolute;
            z-index: 5;
            color: $pureWhite;
            white-space: nowrap;
            font-size: 7.5rem;
            text-shadow: 2px 2px 10px $gradient1, -2px -2px 10px $gradient1;
        }

        #explore {
            text-decoration: none;
            display: inline-block;
            padding: 0.8rem 3rem;
            border-radius: 40px;
            background: $pureWhite;
            color: $gradient1;
            font-size: 1.5rem;
            font-weight: 500;
            z-index: 7;
            transform: translateY(10rem);
            box-shadow: 2px 2px 10px $gradient1, -2px -2px 10px $pureWhite;
        }
    }
}

header::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10rem;
    background: linear-gradient(to top, $background, transparent);
    z-index: 100;
}

.back-to {
    position: fixed;
    z-index: 100;
    right: 0;
    bottom: 0;

    div {
        margin: 3rem ;
        padding: 2rem 4rem;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;

        a {
            width: 100%;
            height: auto;
            font-size: 3rem;
            @extend %flex-space-between;
            flex-direction: column;
            justify-content: center;
            animation: rocketLaunched 0.5s  linear infinite;
            
            #fire {
                color: rgb(255, 123, 0);
                margin-left: 0.2rem;
                animation: fire 3s  linear infinite;
            }

            #rocket {
                -webkit-text-stroke: 1px white;
                color: $gradient1;
            }
            
            .to-bottom {
                transform: rotate(90deg);
            }

            .to-top {
                transform: rotate(270deg);
            }

            @keyframes rocketLaunched {
                0% {
                    transform: translate(0,0);
                }
                20% {
                    transform: translate(-2px, 0);
                }
                40% {
                    transform: translate(0,-1px);
                }
                60% {
                    transform: translate(0,0);
                }
                80% {
                    transform: translate(2px, 0);
                }
                100% {
                    transform: translate(0, 1px);
                }
            }

            @keyframes fire {
                0% {
                    transform: scaleY(1);
                    font-size: 3rem;
                    color: rgb(255, 123, 0);
                }
                25% {
                    transform: scaleY(1.25);
                    font-size: 2.5rem;
                    color: rgb(255, 102, 0);
                }
                50% {
                    transform: scaleY(1.5);
                    font-size: 3rem;
                    color: rgb(255, 81, 0);
                }
                75% {
                    transform: scaleY(1.25);
                    font-size: 2.5rem;
                    color: rgb(255, 102, 0);
                }
                100% {
                    transform: scaleY(1);
                    font-size: 3rem;
                    color: rgb(255, 123, 0);
                }
            }
        }
    }
}

.about-me, .skills, .contact-me, .footer {
    @extend %flex-space-between;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background: $background;
    padding: 10rem 20rem 0 20rem;
    text-align: center;
    color: $white;
    // z-index: 10;
}

.about-me {  
    padding-top: 5rem;
    overflow: hidden;
    &__text , &__text2 {
        margin-bottom: 8rem;
    }
    &__text2 {
        text-transform: uppercase;
        font-family: $fontFamily2;
        align-items: center;
        font-weight: 700;
        border-left: 3px solid $white;
        border-right: 3px solid $white;
        padding: 1rem 3rem;
    }

    .seperator {
        margin-top: 2rem;
        margin-bottom: 8rem;
    }

    &__passions{
        @extend %flex-space-between;
        justify-content: center;
        flex-wrap: wrap;   
        margin-bottom: 7rem;
    }

    &__passion {
        width: 40%;
        margin: 4rem; 

        h4, p{
            text-align: left;
            z-index: 2;         
        }

        h4 {
            position: relative;
            margin-bottom: 3rem;
        }

        .about-me__responsive:before {
            position: absolute;
            top: -2.5rem;
            left: -9%;
            content: url('../img/about-me/1.png');
            opacity: .5;
            width: 5rem;
            height: 5rem;
            z-index: -1;
        }

        .about-me__animated:before {
            position: absolute;
            top: -2.5rem;
            left: -9%;
            content: url('../img/about-me/2.png');
            opacity: .5;
            width: 5rem;
            height: 5rem;
            z-index: -1;
        }

        .about-me__moderan:before {
            position: absolute;
            top: -2.5rem;
            left: -9%;
            content: url('../img/about-me/3.png');
            opacity: .5;
            width: 5rem;
            height: 5rem;
            z-index: -1;
        }

    }
}

.skills {
    padding: 0rem 20rem 0 20rem;
}

.sections-header {
    font-family: $fontFamily2;
    text-transform: uppercase;
    letter-spacing: .5rem;
    align-items: center;
    font-weight: 700;
    border: 5px solid $white;
    padding: 2rem;
    width: 25rem;
    margin-bottom: 5rem;
}

.circle-bars-container {
    @extend %flex-space-between;
    flex-wrap: wrap;
    width: 100%;

    .circle-bar-container {
        height: 25rem;
        width: 25rem;
        display: grid;
        place-items: center;
    
        .circle-bar__progress {
            position: relative;
            height: 20rem;
            width: 20rem;
            background-color: $white;
            border-radius: 50%;
            display: grid;
            place-items: center;
            box-shadow: 0 0 20px $formBoxShadow; 
        }
    
        .circle-bar__progress::before {
            content: '';
            position: absolute;
            height: 84%;
            width: 84%;
            background-color: $background;
            border-radius: 50%;
            // transform: translate(-50%,-50%);
        }
    
        .circle-bar__persentage {
            position: relative;
            font-family: $fontFamily1;
            font-size: 4rem;
            color:$white;
        }
    }
}

.contact-me {
    overflow: hidden;
    .contact-form {
        @extend %flex-space-between;
        flex-direction: column;
        margin-top: 5rem;
        gap: 3rem;
        width: 50vw;
        height: auto;
        font-family: $fontFamily2;


        &__items {
            // height:8rem;
            width: 100%;
            color: $white;
            background: $background;
            outline: none !important;
            border-top: 1px solid transparent;
            border-right: 1px solid transparent;
            border-bottom: 1px solid $border2;
            border-left: 1px solid $border2;
            padding-left: 2rem;
            transition: all 0.3s linear;
            border-radius: 0 1rem  0 0;
        }

        &__items:focus {
            outline: none !important;
            border-top: 1px solid transparent;
            border-right: 1px solid transparent;
            border-bottom: 1px solid $border1;
            border-left: 1px solid $border1;
            border-radius: 1rem;
            transform: translate(0.5rem, -0.5rem);
            box-shadow: -3px 3px 10px #719ECE50;         
        }

        #form-text {
            padding-top: 1rem;
        }

        #form-name, #form-email {
            height: 4rem;
        }
        
        #form-submit-btn {
            position: relative;
            padding: 1.5rem 5rem;
            margin-bottom: 1rem;
            cursor: pointer;
            border: 1px solid $border2;
            border-radius: 3rem;
            background: $border2;
            transition: 1s;
            overflow: hidden;
            color: $background;
            transition: 1s;
        }

        #form-submit-btn:hover {
            border: 1px solid $border2;
            color: $border2;
            box-shadow: 0 0 10px $formBoxShadow;
            transform: scale(1.1, 1.1);
        }

        #form-submit-btn span {
            position: relative;
            z-index: 10;
            font-weight: 700;
        }


        #form-submit-btn::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 0%;
            left: 0;
            bottom: 0;
            margin-left: 13rem;
            background: $background;
            transition: 1.2s;
            border-radius: 30rem 30rem 0 0;
        }

        #form-submit-btn:hover::before {
            height: 200%;
            transform: translateX(-8rem);
        }

        #form-submit-btn::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 0%;
            right: 0;
            top: 0;
            margin-right: 13rem;
            background: $background;
            transition: 1.2s ;
            border-radius: 0 0 30rem 30rem;
        }

        #form-submit-btn:hover::after {
            height: 200%;
            transform: translateX(8rem);
        }
    }
}

.footer {
    bottom: 0;
    overflow: hidden;
    width: 100%;

    .social-media-container {
        @extend %flex-space-between;
        gap: 2rem;
        margin-bottom: 1.3rem;
        
        .tooltip {
            position: relative;
            display: inline-block;
            padding: 1.5rem;
            border: 2px solid $border2;
            width: 6rem;
            border-radius: 25%;
            transition: all linear 0.5s;
            
            .fab {
                color: $pureWhite;
                font-size: 2.25rem;
            }
        }

        .tooltip:hover {
            transform: translate(0, -1rem);
            border: 2px solid $border1;
            border-radius: 50%;
            box-shadow: 0 2px 5px $formBoxShadow;
        }


        #telegram:hover{
            background: #279dec;

            .fab{
                transform: skewX(1deg);
                color: $pureWhite;
            }
        }

        #instagram:hover{
            background: #f5a329;

            .fab{
                transform: skewX(1deg);
                color: $pureWhite;
            }
        }

        #linkedin:hover{
            background: #1565af;

            .fab{
                transform: skewX(1deg);
                color: $pureWhite;
            }
        }

        #github:hover{
            background: $pureWhite;
            
            .fab{
                transform: skewX(1deg);
                color: $black;
            }
        }

        #discord:hover {
            background: #6e28e8;

            .fab{
                transform: skewX(1deg);
                color: $pureWhite;
            }
        }

        .tooltip .tooltiptext {
            visibility: hidden;
            width: 100px;
            margin-top: 2rem;
            background-color: black;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
            position: absolute;
            z-index: 1;
            opacity: 0;
            transition: opacity .7s .5s;
        }       

        #telegram .tooltiptext {
            top: -5px;
            right: 120%;
        }

        #instagram .tooltiptext, 
        #linkedin .tooltiptext, 
        #github .tooltiptext{
            bottom: 125%;
            left: 67%;
            margin-left: -60px;
        }

        #discord .tooltiptext {
            top: -5px;
            left: 120%;

        }

        .tooltip .tooltiptext::after {
            content: "";
            position: absolute;
            border-width: 5px;
            border-style: solid;
        } 

        #telegram .tooltiptext::after {
            top: 50%;
            left: 100%;
            margin-top: -5px;
            border-color: transparent transparent transparent black;
        }

        #instagram .tooltiptext::after, 
        #linkedin .tooltiptext::after, 
        #github .tooltiptext::after {
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-color: black transparent transparent transparent;
        }        

        #discord .tooltiptext::after {
            top: 50%;
            right: 100%;
            margin-top: -5px;
            border-color: transparent black transparent transparent;
          }
        
        .tooltip:hover .tooltiptext {
            visibility: visible;
            opacity: 1;
        }
    }

    p {
        margin-bottom: 2.5rem;

        i, span {
            color: gold;
            font-size: 2.2rem;
        }
        
        i {
            -webkit-text-stroke: 1px $pureWhite;
            background: linear-gradient(90deg, #ff0000, #ffff00, #ff00f3, #0033ff, #ff00c4, #ff0000);
            -webkit-text-fill-color: transparent;
            background-size: 400%;
            background-clip: text;
            -webkit-background-clip: text;
            animation: heartBeating 5s 1.2s linear infinite;
        }

        span {
            background: linear-gradient(90deg, #ff0000, #ffff00, #ff00f3, #0033ff, #ff00c4, #ff0000);
            -webkit-text-fill-color: transparent;
            background-size: 400%;
            background-clip: text;
            -webkit-background-clip: text;
            animation: rainbow 5s linear infinite;
        }

        @keyframes heartBeating {
            0% {
                background-position: 400%;
                transform: scale(1,1); 
                margin: 0 0;
            }
            25% {
                background-position: 300%;
                transform: scale(1.3,1.3); 
                margin: 0 .5rem;
            }
            50% {
                background-position: 200%;
                transform: scale(1.6,1.6); 
                margin: 0 1rem;
            }
            75% {
                background-position: 100%;
                transform: scale(1.3,1.3); 
                margin: 0 .5rem;
            }
            100% {
                background-position: 0%;
                transform: scale(1,1); 
                margin: 0 0;
            }
        }

        // Change from 0 to 400 if there is error
        @keyframes rainbow {
            0% {
                background-position: 400%;
            }
            100% {
                background-position: 0%;
            }
        }
    }
}

// media queries
// 320px.


// 480px.
@media only screen and ( max-width: 480px) {
    header {
        section h2#AbdurasulDjurayev {
            font-size: 2.5rem;
        }
    }

    .about-me {

        &__passion {
            width: 70%
        }
    }

    .contact-me {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .footer {    
        .social-media-container {
            gap: 1rem;                
                
            .tooltip {
                    font-size: 1rem;
                    padding: 0.7rem;
                    border: 1px solid #00f96c;
                    width: 4rem;
                    height: auto;
                }
        }
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    header {
        section h2#AbdurasulDjurayev {
            font-size: 3.5rem;
        }
    }

    .back-to {
    
        div {
            margin: 1.5rem 0;
            padding: 2rem 4rem;
        }
    }

    .footer {
        padding: 0;
        padding-top: 3rem;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    
    header {
        .header {

            .logo-container {
                height: 100%;
                align-self: self-start;
            }

            .nav {
                width: 100%;
                height: 100%;
                flex-direction: column;
                align-items: flex-end;

                .opened {
                    width: auto;
                    height: auto;
                }

                #nav-icon {
                    display: block;
                    font-size: 2rem;
                    cursor: pointer;
                    align-self: flex-end;
                }

                li {
                    margin-top: 2rem;
                }

                .link-icon {
                    display: inline-block;
                }

                &__items {
                    display: none;
                    // opacity: 0;
                    // transition: all 2s ;
                }

                a {
                    padding: 1rem 1.5rem;
                    color: $white;
                    font-size: 1.3rem;
                    font-weight: 700;
                    border-radius: 20px;
                }
            
                a:hover, a.active {
                    background: $pureWhite;
                    color: $gradient1;
                }

                .link-icon {
                    transform: rotate(90deg);
                }
            }

            
        }

        section #AbdurasulDjurayev {
            font-size: 5rem;
        }
    }

    .skills {
        padding: auto;
    }

    .circle-bars-container {
        justify-content: center;
    }

    .footer {
        p {
        margin-bottom: 2.5rem;

            i, span {
                font-size: 1.7rem;
            }
        }
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 900px) {
    header {
        .header {
            padding: 3rem 5rem;
        }

        section #AbdurasulDjurayev {
            font-size: 5rem;
        }
    }   

    .about-me {
        padding: 0rem 5rem 0 5rem;
    }
    .skills {
        padding: 0rem 12rem 0 12rem;
    }

}
