@import 'variables'; 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 10px;
}

body {
    font-size: 16px;
    font-family: $fontFamily1;
    color: $white;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

%flex-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header {
    background: linear-gradient($gradient1, $gradient2);
    min-height: 100vh;

    .header {
        position: absolute;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        padding: 3rem 10rem ;
        background: transparent;
        @extend %flex-space-between;
        z-index: 1000;
        img {
            width: 55px;
            height: 65px;
        }

        .nav {
            width: 100%;
            @extend %flex-space-between;
            justify-content: center;
            font-family: $fontFamily2;
            li {
                margin-left: 2rem;
            }
            a {
                padding: 1rem 1.5rem;
                color: $white;
                font-size: 1.3rem;
                font-weight: 700;
                border-radius: 20px;
            }
        
            a:hover, a.active {
                background: $pureWhite;
                color: $gradient1;
            }
        }
    }

    section {
        overflow: hidden ;
        position: relative;
        width: 100%;
        height: 100vh;
        // padding: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            pointer-events: none;

            &#moon {
                mix-blend-mode: screen;
            }
            &#backMountain {
                z-index: 1;
            }

            &#midMountain {
                z-index: 6;
            }

            &#frontMountain {
                z-index: 8;
            }
        }

        #AbdurasulDjurayev {
            position: absolute;
            left: -70rem;
            z-index: 5;
            color: $pureWhite;
            white-space: nowrap;
            font-size: 7.5rem;
            text-shadow: 2px 2px 10px $gradient1, -2px -2px 10px $gradient1;
        }

        #explore {
            text-decoration: none;
            display: inline-block;
            padding: 0.8rem 3rem;
            border-radius: 40px;
            background: $pureWhite;
            color: $gradient1;
            font-size: 1.5rem;
            font-weight: 500;
            z-index: 7;
            transform: translateY(10rem);
            box-shadow: 2px 2px 10px $gradient1, -2px -2px 10px $pureWhite;
        }
    }
}

header::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10rem;
    background: linear-gradient(to top, $background, transparent);
    z-index: 1000;
}


.about-me, .skills {
    @extend %flex-space-between;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background: $background;
    padding: 10rem 20rem 0 20rem;
    text-align: center;
    color: $white;
    // z-index: 10;
}

.skills {
    padding: 0rem 20rem 0 20rem;
}
.about-me {  
    &__text , &__text2 {
        margin-bottom: 8rem;
    }
    &__text2 {
        text-transform: uppercase;
        font-family: $fontFamily2;
        align-items: center;
        font-weight: 700;
        border-left: 3px solid $white;
        border-right: 3px solid $white;
        padding: 1rem 3rem;
    }

    .seperator {
        margin-top: 2rem;
        margin-bottom: 8rem;
    }

    &__passions{
        // display: flex;
        @extend %flex-space-between;
        justify-content: center;
        flex-wrap: wrap;   
        margin-bottom: 7rem;
    }

    &__passion {
        width: 40%;
        margin: 4rem; 

        h4, p{
            text-align: left;
        }

        h4 {
            position: relative;
            margin-bottom: 3rem;
        }

        h4:before {
            position: absolute;
            top: -2.5rem;
            left: -9%;
            content: url('../img/design.svg');
            width: 5rem;
            height: 5rem;
        }

    }
}

.sections-header {
    font-family: $fontFamily2;
    text-transform: uppercase;
    letter-spacing: .5rem;
    align-items: center;
    font-weight: 700;
    border: 5px solid $white;
    padding: 2rem;
    width: 25rem;
    margin-bottom: 5rem;
}

.circle-bars-container {
    @extend %flex-space-between;
    flex-wrap: wrap;
    width: 100%;

    .circle-bar-container {
        height: 25rem;
        width: 25rem;
        display: grid;
        place-items: center;
    
        .circle-bar__progress {
            position: relative;
            height: 20rem;
            width: 20rem;
            background-color: $white;
            border-radius: 50%;
            display: grid;
            place-items: center;
        }
    
        .circle-bar__progress::before {
            content: '';
            position: absolute;
            height: 84%;
            width: 84%;
            background-color: $background;
            border-radius: 50%;
            transform: translate(-50,-50);
        }
    
        .circle-bar__persentage {
            position: relative;
            font-family: $fontFamily1;
            font-size: 4rem;
            color:$white;
        }
    }
}


